@import url('./fonts/font.css');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --white: #FFFFFF;
    --dark-blue: #24315D;
    --midnight-blue: #0A112B;
    --light-blue: #D8E1FF;
    --royal-blue: #3E528F;
    --light-periwinkle-blue: #8593C3;
    --light-cornflower-blue: #90ADFF;
    --periwinkle-blue: #6F88D1;
    --cornflower-blue: #6374B2;
    --turquoise: #5DDCD1;
    --salmon-pink: #FB8181;

    --radius: 8px;
}

body {
    font-family: nunito, sans-serif;
    font-weight: 500;

    background-color: var(--midnight-blue);
    color: var(--white);
}



.container {
    height: 100dvh;
    position: relative;
}

.todo-container {
    margin: 0 auto;
    max-width: 550px;
    height: 100%;
    padding: 20px;

    display: flex;
    flex-direction: column;
    gap: 40px;
}



.header {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header__picture {
    width: 12%;
    max-width: 50px;
}

.header__img {
    width: 100%;
    height: auto;
    display: block;
}

.header__title {
    flex-grow: 1;
    font-size: 1.5rem;
    font-weight: 900;
}

.header__link {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
}

.header__link-text {
    color: var(--white);
    display: none;
}

.header__link:hover .header__link-text {
    text-decoration: underline;
}

.header__link:hover .header__icon {
    fill: var(--light-blue);
}

.header__icon {
    fill: var(--periwinkle-blue);
    width: 30px;
    height: auto;
}



.tasks {
    flex-grow: 1;
    overflow: auto;
    display: grid;
    align-content: start;
}

.tasks::-webkit-scrollbar {
    width: 0;
}

.task {
    margin-bottom: 5px;
    height: 45px;
    padding-left: 10PX;
    background-color: var(--royal-blue);
    border-radius: var(--radius);
    overflow: hidden;

    display: flex;
    align-items: center;
    gap: 10px;

    animation-name: add-task;
    animation-duration: .2s;
}

.task__checkbox {
    display: flex;
}

.task__icon {
    fill: var(--periwinkle-blue);
    width: 18px;
    height: auto;
}

.task__icon--check {
    fill: var(--turquoise);
    display: none;
}

.task__text {
    flex-grow: 1;
    overflow: hidden;
    user-select: none;
    color: var(--light-blue);
    font-size: 1.2rem;
    text-wrap: nowrap;
    text-overflow: ellipsis;
}

.task__cta {
    height: inherit;
    padding: 10px;
    background: inherit;
    border: none;
    display: flex;
    align-items: center;
}

.task__cta-icon {
    width: 18px;
    height: auto;
    fill: var(--white);
}

.task--completed .task__text {
    text-decoration: line-through;
    color: var(--light-periwinkle-blue);
}

.task--completed .task__icon {
    display: none;
}

.task--completed .task__icon--check {
    display: block;
}

.task__cta:hover .task__cta-icon {
    fill: var(--salmon-pink);
}



.tasks:not(:has(.task)) {
    display: flex;
    align-items: center;
}

.tasks:not(:has(.task))::before {
    content: "There are no pending tasks";
    font-size: 40px;
    font-weight: 900;
    color: var(--dark-blue);
    text-align: center;
    padding: 0 40px;
    opacity: 0;
    animation: showMessage .2s forwards;
}

.task--remove {
    animation-name: remove-task;
    animation-duration: .2s;
}

@keyframes showMessage {
    100% {
        opacity: 1;
    }
}

@keyframes add-task {
    from {
        height: 0;
        opacity: 0;
    }

    to {
        opacity: 1;
        height: 45px;
    }
}

@keyframes remove-task {
    100% {
        height: 0;
        opacity: 0;
        margin: 0;
    }
}



.form  {
    height: 45px;
    display: flex;
    gap: 10px;
}

.form__input {
    width: 100px;
    height: inherit;
    flex-grow: 1;
    padding: 0 15px;
    background-color: var(--dark-blue);
    outline: none;
    border: none;
    border-radius: var(--radius);
    
    color: var(--light-blue);
    font-family: inherit;
    font-size: 1.2rem;
}

.form__input::placeholder {
    color: var(--light-periwinkle-blue);
}

.form__cta {
    padding: 0 14px;
    background-color: var(--white);
    border: none;
    border-radius: var(--radius);
    display: flex;
    align-items: center;
}

.form__cta:hover {
    background-color: var(--light-cornflower-blue);
}
.form__cta:active {
    background-color: var(--white);
}

.form__icon {
    width: 18px;
    height: auto;
    fill: var(--dark-blue);
}



@media (width > 450px) {
    .container {
        padding: 40px 0;
    }

    .todo-container {
        background-color: var(--cornflower-blue);
        padding: 30px;
        border-radius: var(--radius);
        position: relative;
        gap: 30px;
    }

    .header__title {
        font-size: 2rem;
    }

    .header__link {
        position: absolute;
        top: 15px;
        right: 15px;
    }

    .header__icon {
        fill: var(--midnight-blue);
    }

    .tasks {
        order: 1;
    }

    .tasks:not(:has(.task))::before {
        color: var(--royal-blue);
    }
}

@media (width >  750px) {
    .todo-container {
        position: static;
    }

    .header__link-text {
        display: block;
    }

    .wave {
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('./img/wave.svg');
        background-size: 100%;
        background-repeat: no-repeat;
    }
}