:root {
    /* --teal: #2ED698; */
    /* --white: #FFFFFF; */
    --deep-blue: #394781;
    --dark-blue: #0D1326;
    /* --navy-blue: #1F2B47; */
    --royal-blue: #215fbb;
    --royal-blue-200: #36447F;
    --periwinkle: #C1CBE8;
    --periwinkle-200: #616c94;
    /* --midnight-blue: #080B1A; */
    /* --sapphire-blue: #242D54; */
    /* --midnight-blue-2: #273161; */
    --dark-sapphire-blue: #273161;

    --radius: 5px;
    --h-elem: 50px;
    --padding: 20px;
    --time: .2s;
}

body {
    font-family: nunito, sans-serif;
    background-color: var(--deep-blue);
    color: var(--periwinkle);
    
    height: 100dvh;
    display: grid;
    justify-items: center;
    padding: var(--padding);
}



/* ! borra al finalizar */
body * {
    /* outline: 1px solid red; */
}


.main {
    background-color: var(--dark-blue);
    border-radius: 10px;
    max-width: 1000px;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}


.header {
    width: 100%;
    display: flex;
    gap: 40px;
    border-bottom: 2px solid var(--deep-blue);
    padding: var(--padding);
    flex-wrap: wrap;
}


/* logo and title */
.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo__img {
    width: 25%;
}

.logo__title {
    font-size: 1.5rem;
    font-weight: 900;
}


/* Input and button */
.form  {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.form__input {
    max-width: 500px;
    height: var(--h-elem);
    padding: 0 15px;
    background-color: var(--dark-sapphire-blue);
    border-radius: var(--radius);
    flex-grow: 1;
    outline: none;
    
    color: inherit;
    font-family: inherit;
    font-size: 1.1rem;
    border: 2px solid transparent;
}

.form__input::placeholder {
    color: var(--periwinkle-200);
}
.form__input:focus {
    border-color: var(--royal-blue);
}
.form__input:hover {
    border-color: var(--royal-blue);
}

.form__button {
    width: var(--h-elem);
    background-color: var(--royal-blue);
    border-radius: var(--radius);
    display: grid;
    place-items: center;
    transition-duration: var(--time);
    transition-property: transform, background-color;

    /* ! Quitar al agregar font awesome */
    fill: var(--periwinkle); 
}

.form__button:hover {
    background-color: var(--periwinkle);
    fill: var(--dark-blue);
}
.form__button:active {
    transform: scale(.9);
}

/* ! Quitar al agregar font awesome */
.form__icon {
    width: 20px;
    height: auto;
    fill: inherit;
}


/* links to git hub */
.links {
    display: flex;
    align-items: center;
}

.links__link:hover {
    text-decoration: underline;
}


/* Section of tasks */
.tasks {
    flex-grow: 1;
    overflow: auto;
    width: min(500px, 100%);
    display: grid;
}

.tasks::-webkit-scrollbar {
    width: 0;
}

.task {
    height: var(--size-elem);
    margin-bottom: 10px;
    padding-left: 15px;
    background-color: var(--royal-blue-200);
    border-radius: var(--radius);
    border: 1px solid transparent;
    overflow: hidden;

    display: flex;
    align-items: center;
    gap: 10px;

    animation-name: add-task;
    animation-duration: .2s;
    transition: background-color .2s;
}

.task:hover {
    transition: background-color .1s;
    background-color: var(--cornflower-blue);
}

.task__checkbox {
    display: flex;
}

.task__icon {
    fill: var(--periwinkle);
    width: 18px;
    height: auto;
}

.task__icon--check {
    fill: var(--teal);
    display: none;
}

.task__text {
    flex-grow: 1;
    color: var(--periwinkle);
    font-size: 1.2rem;
    user-select: none;
    overflow: hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis;
}

.task__cta {
    height: inherit;
    background: inherit;
    padding: 12px;
    border: none;
    display: flex;
    align-items: center;
}

.task__cta-icon {
    width: 20px;
    height: auto;
    fill: var(--periwinkle);
    transition: transform .2s;
}


.task.task--completed {
    background-color: var(--midnight-blue);
}

.task--completed:hover {
    border: 1px solid var(--periwinkle);
}

.task--completed .task__text {
    text-decoration: line-through;
    color: var(--sapphire-blue);
}

.task--completed .task__icon {
    display: none;
}

.task--completed .task__icon--check {
    display: block;
}

.task__cta:hover .task__cta-icon {
    fill: var(--white);
    transform: scale(1.2);
}



.tasks:not(:has(.task)) {
    display: flex;
    align-items: center;
}

.tasks:not(:has(.task))::before {
    content: "There are no pending tasks";
    font-size: 40px;
    font-weight: 900;
    color: var(--navy-blue);
    text-align: center;
    padding: 0 40px;
    opacity: 0;
    animation: showMessage .2s forwards;
}

.task--remove {
    animation-name: remove-task;
    animation-duration: .2s;
}

@keyframes showMessage {
    100% {
        opacity: 1;
    }
}

@keyframes add-task {
    from {
        height: 0;
        opacity: 0;
    }

    to {
        opacity: 1;
        height: var(--size-elem);
    }
}

@keyframes remove-task {
    100% {
        height: 0;
        opacity: 0;
        margin: 0;
    }
}








/* @media (width > 450px) {
    .container {
        padding: var(--padding);
        gap: 20px;
    }

    .todo-container {
        border-radius: var(--radius);
        padding-bottom: var(--padding);
    }

    .header__title {
        flex-grow: 0;
    }

    .header__icon {
        display: none;
    }

    .tasks {
        --padding: 0 20px 20px;
    }

    .footer__link {
        display: flex;
        align-items: center;
        text-decoration: none;
        gap: 10px;
    }

    .tasks {
        order: 1;
    }
} */